html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.background {
  background-image: url("/img/background/bg.jpg");
  @apply bg-fixed;
  @apply bg-cover;
  @apply bg-no-repeat;
  @apply min-w-full;
  @apply min-h-screen;
}

.bg-4star {
  background-color: rgba(210, 143, 214, 0.5);
}

.bg-5star {
  background-color: rgba(255, 177, 63, 0.5);
}

.bg-mondstadt {
  background-image: url("/img/region/mondstadt.png");
}

.bg-liyue {
  background-image: url("/img/region/liyue.png");
}

.bg-inazuma {
  background-image: url("/img/region/inazuma.png");
}

.bg-fatui {
  background-image: url("/img/region/fatui.png");
}